@charset "utf-8";
@import url("custom.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-size: 13px;
  color: #3a3a3a;
  font-weight: 400;
}

* {
  margin: 0px;
  padding: 0px;
}

.clearfix {
  clear: both;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

.clr,
.clear {
  clear: both;
}

header,
footer,
aside,
article,
section,
detail,
nav,
figure {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none !important;
  outline: none;
}

img {
  border: 0;
  outline: none;
  max-width: 100%;
}

input[type="text"],
input[type="password"],
select,
textarea,
input[type="button"] {
  max-width: 100%;
}

table {
  width: 100%;
}
p {
  margin: 0;
  padding: 0;
}
.fltL {
  float: left;
}
.fltR {
  float: right;
}
.padding_none {
  padding: 0 !important;
}
.border_none {
  border: none !important;
}
.navbar-toggle {
  background-color: #fff !important;
}
.icon-bar {
  background-color: #000 !important;
}
.p_right0 {
  padding-right: 0px !important;
}
.p_left0 {
  padding-left: 0px !important;
}

input[type="date"] {
  text-transform: uppercase !important;
}

.Flex {
  display: flex;
}

.Green {
  color: #37a713;
}
.Red {
  color: #e21818;
}
.Blue {
  color: #139bbf;
}
.Yellow {
  color: #feca05;
}

/* .Button.Reset{padding: 10px 20px;margin-right: 5px;}
.Button{border:none;padding: 10px 40px;text-align: center;transition:0.5s all ease-in-out;font-weight:500;display: inline-block;position:relative;background-color: #3a3d3d;font-size:15px;color:#fff;text-transform:capitalize;letter-spacing:.5px;border-radius: 5px;outline: 0;width: 100%;}
.Button:hover{background-color: #ce9d04;color: #fff;} */

.CheckBox {
  display: inline-block;
  position: relative;
  padding-left: 33px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 500;
  color: #2d2d2d;
  margin: 0;
  min-height: 20px;
}
.CheckBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.CheckBox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 24px;
  background-color: transparent;
  border: 1px solid #484847;
  border-radius: 2px;
}
.CheckBox:hover input ~ .checkmark {
  background-color: #484847;
  border-color: #484847;
}
.CheckBox input:checked ~ .checkmark {
  background-color: #484847;
}
.CheckBox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 8px;
  top: 2px;
  width: 5px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.CheckBox input:checked ~ .checkmark:after {
  display: block;
}

.Switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
  margin: 0 5px 0 0;
  border-radius: 50px;
}
.Switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.Switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a5aab4;
  transition: 0.4s;
  border-radius: 50px;
  width: 40px;
  min-width: auto;
  border: 1px solid rgb(210, 197, 224);
}
.Switch .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
}
.Switch input:checked + .slider {
  background-color: #4c4e4e;
}
.Switch input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
.Switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(21px);
}

.LoginArea {
  min-height: 100vh;
  background: rgb(34 46 80 / 20%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.LoginArea .LoginBox {
  display: flex;
  width: 90%;
  align-items: center;
  height: 375px;
  justify-content: center;
}
.LoginArea .LoginBox .LoginLeft {
  background-color: #fff;
  padding: 65px 50px;
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #b3b6c1;
}
.LoginArea .LoginBox .LoginLeft figure {
  justify-self: center;
}
.LoginArea .LoginBox .LoginLeft figure img {
  width: 116px;
  height: 40px;
}
.LoginArea .LoginBox .LoginLeft h2 {
  margin: 0 0 10px 0;
  text-align: center;
  font-family: "Roboto";
  font-weight: 700;
}
.LoginArea .LoginBox .LoginLeft h2 span {
  color: #e3c214;
}
.LoginArea .LoginBox .LoginLeft h3 {
  text-align: center;
  margin: 0 0 14px 0;
  font-size: 17px;
  font-family: "Roboto";
}
.LoginArea .LoginBox .LoginLeft h3 span {
  color: #264191;
  border-bottom: 2px solid #0c2468;
  padding: 0 0 6px 0;
  display: inline-block;
}
.LoginArea .LoginBox .LoginLeft h4 {
  font-size: 13px;
  margin: 0 0 20px 0;
  font-weight: 500;
  text-align: center;
  line-height: 21px;
  color: #000;
}
.LoginArea .LoginBox .LoginLeft .form-group {
  position: relative;
  margin: 0 0 20px 0;
}
.LoginArea .LoginBox .LoginLeft .form-group label {
  font-weight: 500;
  color: #17222c;
  font-size: 14px;
  display: block;
  font-family: Roboto;
}
.LoginArea .LoginBox .LoginLeft .form-group label sup {
  color: #cc0909;
  font-size: 18px;
  top: -2px;
}
.LoginArea .LoginBox .LoginLeft .form-group .form-control {
  box-shadow: none;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  height: 40px;
  padding: 0 20px 0 50px;
  font-size: 14px;
  font-family: "Roboto";
}
.LoginArea .LoginBox .LoginLeft .form-group .Icon {
  width: 34px;
  height: 34px;
  background-color: #d4d4d4;
  text-align: center;
  line-height: 34px;
  border-radius: 4px;
  position: absolute;
  left: 3px;
  z-index: 100;
  top: 32px;
  color: #000;
}
.LoginArea .LoginBox .LoginLeft .Checkboxs {
  margin: 0 0 20px 0;
  font-family: Roboto;
}
.LoginArea .LoginBox .LoginLeft .Checkboxs a {
  color: #525252;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0;
  float: right;
}
.LoginArea .LoginBox .LoginLeft .Checkboxs a:hover {
  color: #006ce0;
}

.LoginArea .LoginBox .LoginLeft .form-group .OTPBox {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
}
.LoginArea .LoginBox .LoginLeft .form-group .OTPBox .form-control {
  padding: 0;
  text-align: center;
  width: 60px;
  height: 55px;
  font-size: 22px;
  font-weight: 500;
  color: #000;
  line-height: 30px;
}
.otp-form-control input {
  padding: 0;
  text-align: center;
  width: 60px;
  height: 55px;
  font-size: 22px;
  font-weight: 500;
  color: #000;
  line-height: 30px;
}

.LoginArea .LoginBox .SuccessBox {
  min-width: 525px;
  text-align: center;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 100px 50px;
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #b3b6c1;
  margin: 0px auto;
}
.LoginArea .LoginBox .SuccessBox aside {
}
.LoginArea .LoginBox .SuccessBox span {
  width: 100px;
  display: block;
  margin: 0 auto 20px;
}
.LoginArea .LoginBox .SuccessBox h3 {
  font-size: 28px;
  font-weight: 800;
  margin: 0 0 17px 0;
  color: #000;
}
.LoginArea .LoginBox .SuccessBox h5 {
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 20px 0;
  font-style: italic;
  letter-spacing: 0.5px;
}
.LoginArea .LoginBox .SuccessBox a {
  display: inline-block;
  padding: 15px 40px;
  background-color: #fd5301;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.LoginArea .LoginBox .LoginLeft button,
.LoginArea .LoginBox .LoginLeft a.Login {
  border: none;
  padding: 11px 40px;
  text-align: center;
  transition: 0.5s all ease-in-out;
  font-weight: 400;
  display: block;
  position: relative;
  background-color: #fd5301;
  font-size: 15px;
  color: #fff;
  text-transform: capitalize;
  width: 100%;
  font-family: "Roboto";
}
.LoginArea .LoginBox .LoginLeft a.Login.Back {
  margin-top: 10px;
}
.LoginArea .LoginBox .LoginLeft a.Login.aa {
  background-color: #8ebb52;
}
.LoginArea .LoginBox .LoginLeft button:hover,
.LoginArea .LoginBox .LoginLeft a.Login:hover {
  background-color: #000000;
}
.LoginArea .LoginBox .LoginRight {
  background-color: #d3d5dc;
  width: 50%;
}
.LoginArea .LoginBox .LoginRight figure {
  width: 170px;
  margin: 0 auto 20px;
  overflow: hidden;
  text-align: center;
}
.LoginArea .LoginBox .LoginRight h5 {
  text-align: center;
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  line-height: 38px;
}
.LoginArea .LoginBox .LoginRight h5 span {
  display: block;
  color: #9f9124;
  font-size: 32px;
}
.LoginArea .LoginBox .LoginRight h6 {
  text-align: center;
  margin: 0 0 30px;
  font-size: 13px;
  color: #565656;
  font-weight: 500;
  line-height: 19px;
}

.WrapperArea {
  margin-left: 235px;
  flex: 1 1 auto;
  width: calc(100% - 235px);
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  transition: 0.5s all ease-in-out;
}
.WrapperArea .WrapperBox {
  padding: 20px;
  background-color: #fff;
  min-height: calc(100vh - 60px);
}

.Small-Wrapper {
  background-color: #fff;
  padding: 25px;
  border: 1px solid #dcdcdc;
  margin-bottom: 20px;
}
.Small-Wrapper + .Small-Wrapper {
  margin-top: 30px;
}

.AccordionBox .card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #ddd;
  margin: 0 0 30px 0;
  border: none;
  overflow: hidden;
}
.AccordionBox .card .card-header {
  border: none;
  background-color: transparent;
  padding: 20px 50px 20px 20px;
  cursor: pointer;
  position: relative;
}
.AccordionBox .card .card-header:before {
  content: "\f106";
  font-family: "FontAwesome";
  border: none;
  margin-left: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 10px;
  position: absolute;
  top: 25px;
  right: 20px;
  transition: 0.5s all ease-in-out;
}
.AccordionBox .card .card-header[aria-expanded="false"]:before {
  transform: rotate(180deg);
}
.AccordionBox .card .card-header h4 {
  font-weight: 600;
  font-size: 17px;
}
.AccordionBox .card .card-body {
  padding: 20px 20px 0 20px;
  border-top: 1px solid #ddd;
}

.Dashboard {
  background-color: #efefef;
  padding: 15px;
  border-radius: 10px;
  border-left: 4px solid #fd5301;
  display: flex;
  align-items: center;
  margin: 0 0 30px 0;
  min-height: 140px;
}
.Dashboard figure {
  width: 50px;
  height: 50px;
  background: #8ebb52;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Dashboard figure img {
  width: 40px;
}
.Dashboard figcaption {
  width: calc(100% - 50px);
  padding: 0 0 0 10px;
}
.Dashboard figcaption h4 {
  font-size: 16px;
  margin: 0 0 8px 0;
  line-height: 23px;
}
.Dashboard figcaption h2 {
  font-size: 23px;
}

.Header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 9;
}
.Header .Logo {
  width: 235px;
  background-color: #ffffff;
  text-align: center;
  padding: 20px 0;
  float: left;
  height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}
.Header .Logo img {
  width: 90px;
}
.Header .Navigation {
  transition: all 0.2s ease;
  margin-left: 235px;
  padding: 7px 3.2rem;
  width: calc(100% - 235px);
  text-align: right;
  height: 60px;
}
.Header .Navigation .Avater {
  margin: 5px 0 5px 30px;
  position: relative;
  display: inline-block;
}
.Header .Navigation .Avater a {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #000;
}
.Header .Navigation .Avater a figure {
  width: 35px;
  border-radius: 50%;
  margin: 0 15px 0 0;
  overflow: hidden;
}
.Header .Navigation .Avater ul {
  right: 0;
  left: auto;
  top: 100px;
  border: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all ease-in-out;
  position: absolute;
  box-shadow: 0 1px 4px #ddd;
  background-color: #fff;
}
.Header .Navigation .Avater ul li {
  margin: 0;
  border-bottom: 1px solid #d2d3d4;
}
.Header .Navigation .Avater ul li:first-child {
  background-image: linear-gradient(45deg, #3e4040, #a0a0a0);
  position: relative;
  padding: 15px 10px 15px 60px;
  text-align: left;
  border-bottom: 1px solid #fff;
}
.Header .Navigation .Avater ul li figure {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 15px;
  border: 2px solid #fff;
  overflow: hidden;
}
.Header .Navigation .Avater ul li h4 {
  color: #fff;
  font-size: 17px;
  line-height: 18px;
}
.Header .Navigation .Avater ul li h4 span {
  font-size: 11px;
  font-weight: 400;
}
.Header .Navigation .Avater ul li a {
  color: #4e4e4e;
  padding: 10px 20px;
  font-weight: 400;
  transition: 0.5s all ease-in-out;
}
.Header .Navigation .Avater ul li a span {
  margin: 0 10px 0 0;
}
.Header .Navigation .Avater ul li a:hover {
  background-color: #3e4040;
  color: #fff;
}
.Header .Navigation .Avater:hover ul {
  opacity: 1;
  visibility: visible;
  top: 115%;
}

::-webkit-scrollbar-track {
  background: #bbb;
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  background-color: #fd5301;
  border-radius: 0;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
}
::-webkit-scrollbar {
  width: 7px;
  border-radius: 0;
}

.SidenavBar {
  height: calc(100% - 60px);
  position: fixed;
  width: 235px;
  top: 60px;
  padding: 0;
  overflow: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.SidenavBar ul {
  margin: 0;
}
.SidenavBar ul li {
  margin: 0;
}
.SidenavBar ul li a {
  display: block;
  cursor: pointer;
  padding: 13px 20px 13px 45px;
  transition: 0.5s all ease-in-out;
  font-size: 14px;
  text-transform: capitalize;
  position: relative;
  border-bottom: 1px solid #ddd;
  color: black;
}
.SidenavBar ul li a span {
  font-size: 15px;
  display: inline-block;
  position: absolute;
  top: 13px;
  left: 20px;
}
.SidenavBar ul li .dropdown button.dropdown-toggle {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
  outline: 0;
}
.SidenavBar ul li .dropdown ol.dropdown-menu {
  margin: 0;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  border: none;
  float: none;
  position: relative;
}
.SidenavBar ul li .dropdown ol.dropdown-menu li a {
  padding: 13px 20px 13px 51px;
  white-space: inherit;
}
.SidenavBar ul li.active a,
.SidenavBar ul li a:hover {
  background-color: #fd5301;
  color: #fff;
}
.textactive {
  color: #fd5301 !important;
}
.SidenavBar ul li.active button.dropdown-toggle {
  background-color: #fff;
  color: #3e4040;
}
.SidenavBar ul li.active .dropdown ol.dropdown-menu li a {
  background-color: #eaeaea;
  color: #3e4040;
}

.SidenavArea {
  position: fixed;
  width: 225px;
  top: 10px; /* left: 10px; */
  background-color: transparent; /* padding: 10px; */
  border-radius: 10px;
}
.SidenavArea .SidenavHead {
  background-color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin: 0 0 10px 10px;
  position: relative;
}
.SidenavArea .SidenavHead a {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  background-color: #e7050521;
  top: 10px;
  border-radius: 5px;
  color: #cd0606;
  line-height: 30px;
  text-align: center;
}
.SidenavArea .SidenavHead figure {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0px 0px 10px #ddd;
  margin: 0 auto 10px;
}
.SidenavArea .SidenavHead h4 {
  font-size: 15px;
  color: #000;
  font-weight: 600;
  line-height: 21px;
}
.SidenavArea .SidenavHead h4 span {
  display: block;
  font-size: 13px;
}
.SidenavArea .SidenavBody {
  height: calc(100vh - 180px);
  margin: 0;
  overflow: hidden;
}
.SidenavArea .SidenavBody ul {
  overflow: auto;
  height: calc(100vh - 180px);
  padding: 0 7px 0 0;
}
.SidenavArea .SidenavBody ul::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}
.SidenavArea .SidenavBody ul::-webkit-scrollbar-track {
  background: #e3083f;
  border-radius: 20px;
}
.SidenavBody ul::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}
.SidenavBody ul li a {
  color: #d8d3d3;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 15px;
  display: flex;
  position: relative;
}
/* .SidenavBody ul li a .Icon{width: 30px;}
.SidenavBar ul li a .Text{width:calc(100% - 25px)} */
.SidenavBar ul li a.dropdown-toggle {
  white-space: normal;
}
.SidenavBar ul li a.dropdown-toggle:after {
  content: "\f107";
  font-family: FontAwesome;
  position: absolute;
  top: 18px;
  right: 8px;
  font-size: 13px;
  border: none;
  font-weight: 700;
  line-height: 10px;
  margin: 0;
}
.SidenavBar ul li .dropdown-menu {
  position: relative !important;
  float: none;
  transform: inherit !important;
  background-color: #fff0;
  border: none;
  box-shadow: none;
  padding: 0 0 0 25px;
}
/* .SidenavBar ul li.active a{background-color:#fff;color: #E3083F;border-radius: 0 7px 7px 0;font-weight: 700;} */
.SidenavBar ul li.active a:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 100%;
  top: 0;
  border-radius: 10px;
}
.SidenavBar ul li.active .dropdown-menu {
  display: block;
}
.SidenavBar ul li .dropdown-menu li a {
  background-color: #fff0;
  color: #000;
}
/* .SidenavArea .SidenavBody ul li .dropdown-menu li.active a{color:#E3083F;background-color: #fff;} */
.SidenavBar .text-orange {
  color: #fd5301 !important;
  font-weight: bold;
}

.Button {
  border: none;
  padding: 10px 30px;
  text-align: center;
  transition: 0.5s all ease-in-out;
  font-weight: 500 !important;
  display: inline-block;
  position: relative;
  background: #8ebb52;
  font-size: 14px !important;
  color: #fff !important;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  border-radius: 5px;
  outline: 0 !important;
  box-shadow: none;
  font-family: "Roboto";
}
.Button:hover {
  background-position: 0px 80px;
  color: #fff;
}
.Button.Cancel {
  background: #d9d9d9;
  color: #000 !important;
  margin: 0 0px 0 5px;
  padding: 10px 20px;
}

.heading {
  font-size: 22px;
  color: #222e50;
  font-weight: 600;
  margin-bottom: 20px;
}
.user-body .Dashboard {
  background-color: #ffffff;
}
.user-body .Dashboard figure img {
  filter: none;
  border-radius: 50%;
  width: 40px;
}
.user-body .Dashboard figure {
  margin: 0;
}
.user-body .Dashboard figcaption {
  display: flex;
}
.user-body .Dashboard figcaption h4 {
  color: black;
  margin: 0;
}
.user-body .Dashboard a {
  width: 100%;
  display: flex;
  align-items: center;
}
.user-body .Dashboard figcaption h2 {
  font-size: 20px;
  margin: 0px 0px 0px 30px;
  color: #55aae0;
  font-weight: 600;
}
.title {
  display: flex;
  justify-content: space-between;
}
.form-group label {
  color: black;
  font-size: 13px;
  font-weight: 600;
}
.form-control {
  font-size: 13px;
}
.form-control:focus {
  box-shadow: none;
  border: black;
}

/* .TableList{ overflow: auto; } 
.TableList::-webkit-scrollbar-track{}
.TableList::-webkit-scrollbar-thumb{background: #4ecb71;transition: 0.5s all ease-in-out;border-radius: 10px;display: none;transition:background-color 0.2s linear,width 0.2s ease-in-out;-webkit-transition:background-color 0.2s linear,width 0.2s ease-in-out;}
.TableList::-webkit-scrollbar{width: 4px;border-radius: 20px;height: 5px;}
.TableList:hover::-webkit-scrollbar-thumb{ display:block; }
.TableList table{margin: 0 0 10px 0;}
.TableList table tr th{background-color:#dcdcdc;font-weight: 700;color:#000;font-size: 12px;padding: 10px 15px;}
.TableList table tr td{font-weight: 600;color:#404040;padding: 10px 15px;font-size: 12px;}
.TableList table tr td a {margin: 0 7px;}
.TableList table tr td a:hover{color:#000}
.TableList table tr th:last-child,
.TableList table tr td:last-child{text-align:center;min-width:105px}
.TableList table tr td:last-child a{color:#545454;margin:0 5px;font-size:14px;display:inline-block}
.TableList table tr td:last-child a:hover{color:#000}

.TableList table tr:nth-child(even) { font-weight: 500;color: #7C8493;overflow: hidden;border-radius: 11px; }
.TableList table tr:nth-child(even) td{ background-color: #fff;}
.TableList table tr:nth-child(even) td:first-child{ border-radius: 10px 0 0 10px;}
.TableList table tr:nth-child(even) td:last-child{  border-radius: 0px 10px 10px 0px; }
.TableList table tr th:first-child{ border-radius: 10px 0 0 10px;}
.TableList table tr th:last-child{ border-radius: 0px 10px 10px 0px;}

.TableList table tr td span{padding: 6px 10px;color:#fff;border-radius:5px;width:auto;display: inline-block;text-align:center;font-size:12px;min-width: 80px;}
.TableList table tr td .Actions{display: flex;align-items: center;justify-content: center;}
.TableList table tr td .Actions button{padding: 6px 15px;color:#fff;border-radius: 25px;width:auto;display: inline-block;text-align:center;font-size: 13px;border: none;font-weight: 700;}
.TableList table tr td .Actions a.Resend{padding: 5px 15px;color: #fff;border-radius: 5px;width: auto;display: block;text-align: center;font-size: 13px;background-color: #fd7325;}

.TableList table tr td span a{ color: #000; }


.TableList table tr td a.Green{ color: #37a713; }
.TableList table tr td a.Red{ color: #e21818; }
.TableList table tr td a.Blue{ color: #139bbf; }
.TableList table tr td a.Yellow{ color: #feca05; }
.TableList table tr td a.Pink{color: #fd546d;}

.TableList table tr td span.Green{ background-color: #37a713; }
.TableList table tr td span.Blue{ background-color: #139bbf; }
.TableList table tr td span.Red{ background-color: #bb0f0f; }
.TableList table tr td span.Orange{background-color: #fd813f;}
.TableList table tr td span.Yellow{background-color: #feca05; color: #000; }
.TableList table tr td span.Gray{background-color: #00000040; color: #000000;}

.TableList table tr td .Actions button.Green{ background-color: #37a713; }
.TableList table tr td .Actions button.Blue{ background-color: #139bbf; }
.TableList table tr td .Actions button.Red{ background-color: #bb0f0f; }
.TableList table tr td .Actions button.Orange{background-color: #df9919; } */

.TableList {
  overflow: auto;
}
.TableList table tr th {
  background-color: #dcdcdc;
  font-weight: 700;
  text-transform: capitalize;
  color: #000;
}
.TableList table tr td,
.TableList table tr th {
  font-size: 13px;
  padding: 14px 20px;
  white-space: nowrap;
}
.TableList table tr td {
  font-weight: 600;
  color: #404040;
}
.TableList table tr th:first-child {
  border-radius: 10px 0 0 10px;
}
.TableList table tr th:last-child {
  border-radius: 0 10px 10px 0;
}
.TableList table tr:nth-child(2n) td {
  background-color: #efeded;
}
.TableList table tr:nth-child(2n) td:first-child {
  border-radius: 10px 0 0 10px;
}
.TableList table tr:nth-child(2n) td:last-child {
  border-radius: 0 10px 10px 0;
}

.TableList table tr td strong {
  font-weight: 700;
  color: #000;
}
.TableList table tr td a:hover {
  color: #000;
}
.TableList table tr td figure {
  width: 45px;
  height: 45px;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 14px #dbdbdb;
  overflow: hidden;
  margin: 0;
}
.TableList table tr td figure img {
  width: 100%;
  height: 100%;
}
.TableList table tr td:last-child,
.TableList table tr th:last-child {
  min-width: 105px;
}
.TableList table tr td:last-child a {
  margin: 0 5px;
  font-size: 14px;
  display: inline-block;
}
.TableList table tr td span {
  padding: 7px 10px;
  color: #fff;
  border-radius: 5px;
  width: auto;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  min-width: 100px;
}
.TableList table tr td .Actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.TableList table tr td .Actions a.Resend {
  padding: 5px 15px;
  color: #fff;
  border-radius: 5px;
  width: auto;
  display: block;
  text-align: center;
  font-size: 13px;
  background-color: #e7a33d;
}

.TableList table tr td a.Green {
  color: #37a713;
}
.TableList table tr td a.Red {
  color: #e21818;
}
.TableList table tr td a.Blue {
  color: #386a98;
}
.TableList table tr td a.Yellow {
  color: #feca05;
}
.TableList table tr td a.Pink {
  color: #fd546d;
}

.TableList table tr td span.Green {
  background-color: #37a713;
}
.TableList table tr td span.Blue {
  background-color: #139bbf;
}
.TableList table tr td span.Red {
  background-color: #bb0f0f;
}
.TableList table tr td span.Orange {
  background-color: #df9919;
}
.TableList table tr td span.Yellow {
  background-color: #e7a33d;
}

.TableList table tr td .Actions button {
  padding: 7px 18px;
  color: #fff;
  border-radius: 5px;
  width: auto;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  border: none;
  font-weight: 600;
  margin: 0 3px;
}
.TableList table tr td .Actions button.Gray {
  background-color: #c7c7c7;
  color: #000;
}
.TableList table tr td .Actions button.Green {
  background-color: #37a713;
}
.TableList table tr td .Actions button.Blue {
  background-color: #139bbf;
}
.TableList table tr td .Actions button.Red {
  background-color: #bb0f0f;
}
.TableList table tr td .Actions button.Orange {
  background-color: #df9919;
}

.Filter {
  display: flex;
  align-items: flex-end;
}

.Filter .form-group {
  margin: 0px 10px 20px 0px;
  display: inline-block;
}

.Filter .form-group:last-child {
  margin: 0px 0px 20px;
}
.Filter .form-group .form-control {
  height: 42px;
  line-height: 25px;
  padding: 8px 10px;
  border: 1px solid rgb(203, 202, 202);
  font-size: 12px;
  margin: 0px 10px 0px 0px;
  box-shadow: none;
  color: rgb(62, 61, 61);
  font-weight: 600;
  border-radius: 5px;
  appearance: auto;
}
.PaginationBox {
  margin: 20px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.PaginationBox .PaginationLeft p {
  font-size: 15px;
  font-weight: 700;
  margin: 0 10px 0 0;
}
.PaginationBox .PaginationLeft p span {
  color: #f28290;
}
.PaginationBox .PaginationRight ul li {
  display: inline-block;
  margin: 0 4px;
}
.PaginationBox .PaginationRight ul li a {
  font-size: 15px;
  font-weight: 500;
  color: #3e3e3e;
}
.PaginationBox .PaginationRight ul li.active a {
  color: #f28290;
}

.CommonTabs {
  margin-bottom: 20px;
}

.CommonTabs .nav-tabs {
  border: none;
}

.CommonTabs .nav-tabs li {
  margin: 0px 15px 0px 0px;
}

.CommonTabs .nav-tabs li a {
  background-color: #d0cece;
  border-radius: 5px;
  padding: 11px 35px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  cursor: pointer;
  text-transform: capitalize;
  margin: 0px;
  font-size: 15px;
  border: none !important;
}

.CommonTabs .nav-tabs li a.active {
  background-color: #8ebb52;
  color: rgb(255, 255, 255);
}

.CommonTabs .nav-tabs li a {
  border-radius: 5px;
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  cursor: pointer;
  text-transform: capitalize;
  margin: 0px;
  font-size: 14px;
  border: none !important;
}
.TitleBox .Title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.TitleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.TitleBox a {
  font-size: 14px;
  color: black;
  font-weight: 600;
}

.RiderBox {
  background-color: rgb(239, 239, 239);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(221, 221, 221);
  margin: 0px 0px 20px;
}

.RiderBox:last-child {
  margin: 0px;
}

.RiderBox .RiderHead {
  display: flex;
  margin: 0px 0px 20px;
}

.RiderBox .RiderHead figure {
  width: 50px;
  height: 50px;
  margin: 0px 20px 0px 0px;
  border-radius: 50%;
  border: 1px solid black;
  text-align: center;
}

.RiderBox .RiderHead figcaption {
  width: calc(100% - 65px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.RiderBox .RiderHead figcaption h5 {
  font-size: 15px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin: 0px 0px 10px;
}

.RiderBox .RiderHead figcaption h3 {
  font-weight: 700;
  font-size: 14px;
  margin: 0px 0px 5px;
}
.RiderBox .RiderHead figcaption h4 {
  font-size: 15px;
  font-weight: 600;
  color: #222e50;
}

.RiderBox .RiderHead figcaption h3 span {
  font-size: 15px;
  padding: 0px 0px 0px 20px;
  position: relative;
}

.RiderBox .RiderHead figcaption a {
  font-size: 16px;
  font-weight: 700;
  color: rgb(2, 181, 8);
}

.RiderBox .RiderHead figcaption a i {
  margin-left: 5px;
}

.RiderBox .RiderHead figcaption p {
  font-size: 14px;
}

.RiderBox .RiderHead figcaption p strong {
  color: rgb(55, 181, 3);
  margin: 0px 15px 0px 0px;
  font-weight: 600;
}

.RiderBox .RiderHead figcaption p strong.Red {
  color: rgb(226, 24, 24);
}

.RiderBox .RiderHead figcaption h6 {
  font-size: 15px;
  margin: 5px 0px 0px;
  font-weight: 700;
}

.RiderBox .RiderHead figcaption h6 label {
  margin: 0px 15px 0px 0px;
  width: 175px;
  position: relative;
  color: rgb(0, 0, 0);
  font-weight: 700;
}

.RiderBox .RiderHead figcaption h6 label::after {
  content: ":";
  position: absolute;
  right: 0px;
}

.RiderBox .RiderHead figcaption h6 span {
  font-weight: 600;
}
.RiderBox .RiderHead .Actions {
  display: flex;
  margin-top: 10px;
}
.RiderBox .RiderBody {
  display: flex;
  justify-content: space-between;
}

.RiderBox .RiderBody2 {
  display: flex;
  justify-content: space-between;
}

.RiderBox .RiderBody aside {
  width: 50%;
}

.RiderBox .RiderBody aside p {
  font-size: 14px;
  margin: 0px 0px 10px;
  position: relative;
}

.RiderBox .RiderBody aside p label {
  margin: 0px 15px 0px 0px;
  width: 255px;
  position: relative;
  color: rgb(0, 0, 0);
  font-weight: 700;
}

.RiderBox .RiderBody aside p label::after {
  content: ":";
  position: absolute;
  right: 0px;
}

.RiderBox .RiderBody aside p span {
  font-weight: 600;
}

.RiderBox .RiderBody-footer aside p label {
  margin: 0px 15px 0px 0px;
  width: 255px;
  position: relative;
  color: rgb(0, 0, 0);
  font-weight: 700;
}

.RiderBox .RiderBody-footer aside p label::after {
  content: ":";
  position: absolute;
  right: 0px;
}

.RiderBox .RiderBody-footer aside p span {
  font-weight: 600;
  width: calc(100% - 255px);
}

.RiderBox .RiderBody aside h5 {
  font-size: 15px;
  font-weight: 700;
  margin: 0px 0px 10px;
  color: rgb(0, 0, 0);
}

.RiderBox .RiderBody-footer aside p {
  font-size: 14px;
  margin: 0px 0px 10px;
  position: relative;
  display: flex;
}

.RiderBox h5 {
  color: green;
  text-align: center;
  margin-bottom: 20px;
}

.RiderBox .RiderBody2 .driver-img {
  display: flex;
  justify-content: space-between;
  width: 33%;
}

.RiderBox .RiderBody2 .driver-img span {
  border: 1px solid rgb(221, 221, 221);
  padding: 8px;
  border-radius: 5px;
  background: rgb(221, 221, 221);
}

.RiderBox1 {
  height: 255px;
}

.rider-footer {
}
.rider-footer ul {
  display: flex;
  margin: 15px 0px;
}
.rider-footer ul li {
}
.rider-footer ul li a {
  margin: 0px 10px 0px 0px;
  border: none;
  padding: 10px 30px;
  text-align: center;
  transition: 0.5s all ease-in-out;
  font-weight: 500 !important;
  display: inline-block;
  position: relative;
  background: #dcdcdc;
  font-size: 14px !important;
  color: #000 !important;
  text-transform: capitalize;
  border-radius: 5px;
  cursor: pointer;
}
.rider-footer ul li a.active {
  background: #8ebb52;
  color: white !important;
}
.commenone {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.commenone .backarrow a {
  background-color: #8ebb52;
  color: #fff !important;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px !important;
}
.backarrow {
  cursor: pointer;
}
.cust {
  margin-bottom: 35px;
  background: #efefef;
  padding: 20px;
  border-radius: 5px;
}
.user-head {
  background: white;
  padding: 25px;
  border-radius: 10px;
}
.user-head .user-completed {
}
.user-head .user-completed h3 {
  font-size: 15px;
  color: #222e50;
  text-decoration: underline;
  font-weight: 600;
  margin-bottom: 18px;
}
.user-head .user-completed aside {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.user-head .user-completed aside figure {
  width: 40px;
  display: inline-block;
  margin: 0px 12px 0px 0px;
}
.user-head .user-completed aside figcaption {
}
.user-head .user-completed aside figcaption h4 {
  font-size: 15px;
  color: #55aae0;
  margin-bottom: 5px;
}
.user-head .user-completed aside figcaption p {
}
.error {
  font-size: 12px;
}

/* chat-box css  */
.conversation-container {
  background-color: #d3d3d3;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.conversation-container .messages {
  flex-grow: 1;
  margin-bottom: 10px;
}
.conversation-container .user-messages {
  flex-grow: 1;
  margin-bottom: 10px;
  float: right;
}

.conversation-container .message {
  margin-bottom: 10px;
  padding: 10px;
}
.conversation-container .message.right {
  text-align: right;
}

.conversation-container .message span {
  font-weight: bold;
  /* display: block; */
  margin-bottom: 2px;
  /* float: right; */
}

.conversation-container .message p {
  margin: 0;
}

.conversation-container .input-container {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #fff;
  padding: 5px;
}

.conversation-container .input-container input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
}
.conversation-container .input-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
}

.chat-container {
  display: flex;
  /* width: 90%;  */
  max-width: 1200px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chat-sidebar {
  height: 100%;
  background: #f9f9f9;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.chat-item {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.chat-item.active {
  background-color: #e8fff0;
}

.chat-item .avatar {
  width: 40px;
  height: 40px;
  background-color: #90ee90;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-right: 10px;
}

.chat-info {
  flex: 1;
}

.chat-title {
  font-weight: bold;
}

.chat-actions i {
  margin-left: 10px;
  cursor: pointer;
}

.chat-panel {
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}

.chat-header {
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

.chat-messages {
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}

.message {
  margin-bottom: 20px;
}

.message.received .message-text {
  background-color: #e8fff0;
  color: black;
  border-radius: 10px 10px 10px 0;
  padding: 10px;
  display: inline-block;
}

.message.sent .message-text {
  background-color: #333333;
  color: white;
  border-radius: 10px 10px 0 10px;
  padding: 10px;
  display: inline-block;
  margin: 0 0 auto 37%;
}
.message.sent .message-time {
  margin: 0 0 auto 90%;
  padding-top: 5px;
}
.message-time {
  font-size: 12px;
  color: #999999;
  margin-top: 5px;
  display: block;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #eaeaea;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.chat-input .send-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.chat-input .send-btn:hover {
  background-color: #45a049;
}
.Disabled {
  pointer-events: none;
  color: gray !important;
  cursor: not-allowed;
  padding-left: 0px !important;
  width: 0px !important;
}
.TitleLink,
.CloseModal {
  cursor: pointer;
}
.largeModal .modal-dialog {
  max-width: 750px;
  margin-top: 300px;
}
.iiz  {
  width: 100% !important;
  height: 100% !important;
}
.ZoomImageBox figure div img{
    max-height: 275px;
}